<div class="container">
    <div class="row">
        <div class="col-md-2"><%= image_tag @end_user.get_profile_image(50,50) %></div>
        <div class="col-md-4">
            <h4 class="my-5"><%= @end_user.name %></h4>
            <%= @end_user.introduction %>
        </div>
        <div class="col-md-2 my-5">
            <% if current_end_user == @end_user %>
            <%= link_to "編集", edit_information_path(@end_user), class: "btn btn-info" %>
            <% end %>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>