<div class="container">
  <h3>作品一覧</h3>
  <%= render 'search', q: @q, url: posts_path %>
  <div class="row">
    
    <div class="col-md-3"></div>
    <div class="col-md-9"><%= render 'list', posts: @posts %></div>
  </div>
</div>