<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>タグが<%= @tag.tag_name %>の作品一覧</h3>
    </div>
    <div class="col-md-6">
      <% @tags.each do |tag| %>
        <i class="fa-solid fa-tags" style="color: #4a3f3f;"></i>
        <%= link_to tag.tag_name, search_tag_path(tag_id: tag.id) %>
        <%= "(#{tag.posts.count})" %>
      <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <%= render 'list', posts: @posts %>
  </div>
</div>