<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1 class="my-5">About</h1>
      <P>
      Share Drawingでは、ご自身で描かれたイラストを投稿し、<br>
      大勢の方と共有することができます。また、さまざまな作品を<br>
      閲覧することができ、思わぬインスピレーションを得ることが<br>
      できるかもしれません。お気に入りの作品の作者さまとの交流<br>
      なども可能です。
      </P>
    </div>
  </div>
</div>