<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h2 class="text-center my-3">About</h2>
      <p class="text-center">
      Share Drawingでは、ご自身で描かれたイラストを投稿し、大勢の方と共有することができます。<br>
      また、さまざまな作品を閲覧することができ、思わぬインスピレーションを得ることが<br>
      できるかもしれません。お気に入りの作品の作者さまとの交流なども可能です。
      </p>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= image_tag 'about-1.png', size: '400x400' %>
    </div>
  </div>
</div>