<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1 class="my-5">Welcome to Share Drawing!</h1>
      <P>このサイトは、自分の描いたイラストをさまざまな方と共有<br>
      できるコミュニティサイトです。<br>
      会員登録されない方も作品の閲覧はできますが、<br>
      投稿や作品への評価をするには会員登録が必要になります。</P>
    </div>
  </div>
</div>
