@use '~bootstrap/scss/bootstrap';



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand img {
  width: auto;
  height: 90px;
}

main {
  min-height: 75vh;
}

body {
  background-color: #FFFFF2;
}

header {
  background-color: #545454;
}

footer{
  width: 100%;
  height: 80px;
  background-color: #545454;
}

.new-post h6 {
 text-align: center;
}

.new-post img {
   border-radius: 30px;
}

section {
  text-align: center;
}

section h3 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.content img {
  border-radius: 30px;
}

.contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  }

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon img {
  border-radius: 50%;
}

.pagination {
  justify-content: center;
}

.pagination>li>a {
  border: none;
  color: #696969;
  background-color: #FFFFF2;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #786666;
    border-color: #786666;
    border-radius: 15px;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 70px;
}

.field_with_errors {
  display: contents;
}

 ul {
  list-style: none;
}